@charset "utf-8";
* {
    list-style: none;
    margin: 0 auto;
}
body{
    overflow-x: hidden;
}
img{
    width: 100%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .Logo {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        color: #353535;
        text-decoration: none;
        img {
            height: 40px; 
            margin-right: 15px; 
        }
    }

    .gnav {
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5); 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 5px 20px;
        border-radius: 30px;
        ul {
            display: flex;
            list-style: none;
            margin-left: 60px;
            padding: 10px;
            li {
                margin-left: 40px; /* 項目間のスペース*/

                &:first-child {
                    margin-left: 0; /* 最初の項目に余計なスペースをつけない*/
                }

                a {
                    text-decoration: none; 
                    color: #353535; 
                    font-weight: bold;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #0056b3; 
                    }
                }
            }
        }
    }
}
.FirstView{
    position: relative;
    text-align: center;
    color:#353535;
}

.posi {
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size:48px;
    line-height: 1.5;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    padding-top: 30px;
}

.DLbtn {
    position: fixed; /* 画面上で固定 */
    bottom: 10%; /* 画面下部から10% */
    right: 5%; /* 画面右側から5% */
    text-align: center;
    z-index: 1000; /* 他の要素の上に表示 */
}

.download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0056b3;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 35px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.3s ease; /* 背景色の変化もアニメーション */
}

.download-button:hover {
    background: linear-gradient(90deg, #0077B6, #4DA9D9, #00A7FF); /* グラデーションを適用 */
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.DownloadIcon {
    width: 30px; /* アイコンのサイズを大きく */
    height: 30px;
    margin-left: 15px; /* アイコンとテキストの間隔を広げる */
}


.first-container{
    margin: 80px 0;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "App null1";
    grid-area: null1;
    h1{
        
        position: absolute;
        right: 15%;
        
    }
    .AppLogo{
        grid-area: App;
        transform: rotate(-90deg) scale(2.8); /* 1.5倍に拡大 */
        margin-top: 115%;
    }
}
.BKshape{
    float: right;
}
.first-flex p{
    color: #ffffff;
    position: absolute;
    padding-top: 11%;
    right: 5%;
}
.Phone{
    width: 15%;
    position: absolute;
    padding-top: 4%;
    left: 38%;
    z-index: 2;
}
.Bill{
    width: 25%;
    position: absolute;
    left: 47%;
    padding-top: 16%;
}


.js-container h2{
    padding: 80px 0;
}
.second-container{
    text-align: center;
}
.second-container-Flex{
    display: flex;
    width: 65%;
    padding: 50px;
    background-color: rgba(0, 119, 182, 0.3); /* 背景色に透明度40%を追加 */
    border-radius: 60px;
}
.second-container img{
    width: 5%;
    margin: 20px 0;
}
.second-container .innerSec{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}
.arrow-head {
    width: 0;
    height: 0;
    border-left: 15px solid transparent; /* 左側の透明部分 */
    border-right: 15px solid transparent; /* 右側の透明部分 */
    border-bottom: 25px solid #000; /* 矢印の色（黒） */
    transform: rotate(180deg); /* 必要に応じて角度を調整 */
    margin: 50px auto; /* 上下に50pxの余白、左右中央に配置 */
  }
  .js-container{
    padding-bottom: 80px;
  }
  
.swiper{
    width: 20%;
}
.midflex{
    display: flex;
    justify-content:center;
}
.midflex img{
    width: 200%;
}
.clickflex{
    display: flex;
    padding: 35px 10px 0;
}
.clickflex p{
    padding-right: 10px;
}
.clickflex button {
    background-color: #0077B6; /* ボタンの背景色を青に設定 */
    color: white; /* テキストの色を白に設定 */
    border: none; /* ボーダーを削除 */
    border-radius: 10px; /* 角を丸める */
    padding: 5px 10px; /* ボタン内の余白 */
    cursor: pointer; /* カーソルをポインタに変更 */
    transition: background-color 0.3s ease, transform 0.2s ease; /* スムーズなホバー効果 */
}

.clickflex button:hover {
    background-color: #003249; /* ホバー時の背景色を濃い青に変更 */
    transform: scale(1.1); /* ホバー時にボタンを少し拡大 */
}


/* セクション内の配置 */
.thead-container {
    position: relative;
    text-align: center; /* セクション内の要素を中央に配置 */
    background-color: rgba(0, 119, 182, 0.08);
    padding-bottom: 40px;
}
.thead-container h2{
    padding: 80px 0 30px;
}

/* iPad画像の中央配置 */
.ipad {
    position: relative;
    width: 50%;
    display: block; /* 画像がインライン要素として扱われないようにする */
    margin: 0 auto; /* 左右のマージンを自動にして中央配置 */
    background-color: #FFFFFF;
    border-radius: 50px;
}

/* アイコンのグリッドレイアウト */
.feature-icons {
    display: grid;
    grid-template-columns:calc(100%/3); /* 3列 */
    grid-template-areas: "Card1 Card2 Card3"
                         "Card4 Card5 Card6"; /* 2行に分けたグリッド */
    position: absolute;
    top: 28%;
    left: 49%; /* 横方向に中央配置 */
    transform: translateX(-50%); /* 横中央を確保 */
    margin: 0 auto;
    align-content: space-around; /* アイコン間のスペースを均等に配置 */
    gap: 30px;
}




/* グリッドエリアの定義 */
.Card1 { grid-area: Card1; }
.Card2 { grid-area: Card2; }
.Card3 { grid-area: Card3; }
.Card4 { grid-area: Card4; }
.Card5 { grid-area: Card5; }
.Card6 { grid-area: Card6; }

/* カードコンテナ */
.card-container {
    position: relative;
    width: 140px;
    height: 200px;
    margin: 0 auto;
}

/* カード本体 */
.card {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 119, 182, 0.8); /* 透明度を付けた青色の背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; /* アニメーションのスムーズな遷移 */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* ほんのり影をつけて立体感を出す */
}

/* 裏面のカード */
.card.back {
    transform: rotate(0deg);
}

/* ホバー時の裏面カード */
.card-container:hover .card.back {
    transform: rotate(-15deg);
}

/* 表面のカード */
.card.front {
    z-index: 1;
    box-shadow: 0px 0px 22.8px rgba(0, 0, 0, 0.37); /* 立体感を強調する影 */
}

/* カード内のテキスト */
.card span {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}



/* Quick Card セクション */
.quick-card {
    text-align: center;
    background-color: rgba(0, 119, 182, 0.08);
}

.quick-card-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.laptop {
    width: 50%; /* 画像のサイズ */
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* テキストとの間隔を小さくするためのマージン */
}



.card-content h3 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

.card-content p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
}
.card-content {
    max-width: 450px;
    text-align: left;
    background-color: #ffffff; /* カード全体の背景を白 */
    padding: 15px;
    border-radius: 10px;
}

.card-content h3,
.card-content p {
    max-width: 450px;
    text-align: left;
    padding: 15px; /* 余白を少し小さく */
    border-radius: 10px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.1);
}

.card-content h3 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

.card-content p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
}

  
  .bottomimg{
    width: 50%;
    height: auto;
    box-sizing: border-box;
    padding-top: 60px;
    position: absolute;
  }
  .bottom-left{
    left:60px;
    padding-top: 7%;
  }
  .bottom-right{
    right: 60px;
    padding-top: 9%;
  }
  .wrap h2{
    text-align: center;
    padding-top: 80px;
  }
  .BK{
    width: 80%;
  }
  .BK-right{
    float: right;
  }
  .BK-left{
    float: left;
  }
  ol{
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .wrap li{
    margin: 0;
  }
  
  .con{
    padding: 30px;
  }
  
  .con h3{
    color: #FFFFFF;
    position: absolute;
  }
  .con-right{
    display: flex;
  }
  .con-left{
    display: flex;
  }
  .con-left h3{
    position: absolute;
    right: 24%;
    top: 10%;
  }
  .con-right h3{
    position: absolute;
    top: 10%;
    left: 24%;

  }
  .con-left p{
    position: absolute;
    right: 26%;

  }
  .con-right p{
    position: absolute;
    left: 26%;
  }
  
  .con p{
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
    top: 50%;
  }
  .block-right{
    position: relative;
  }
  .block-left{
    position: relative;
  }
  .block-right2{
    position: relative;
  }
  .block-left2{
    position: relative;
  }
/* 初期状態: 右からスライド */
.animate-right {
    opacity: 0;
    transform: translateX(40vw); /* 画面の40%右からスライド */
    transition: opacity 1s ease, transform 1s ease;
  }
  
  /* 初期状態: 左からスライド */
  .animate-left {
    opacity: 0;
    transform: translateX(-40vw); /* 画面の40%左からスライド */
    transition: opacity 1s ease, transform 1s ease;
  }
  
  /* 右からスライド */
  .animate-right.visible {
    opacity: 1;
    transform: translateX(0); /* 元の位置に戻る */
  }
  
  /* 左からスライド */
  .animate-left.visible {
    opacity: 1;
    transform: translateX(0); /* 元の位置に戻る */
  }
  
  /* レスポンシブ対応: 最大1440pxを基準に調整 */
  @media screen and (min-width: 1440px) {
    .animate-right {
      transform: translateX(30%); /* 固定幅の場合に調整 */
    }
  
    .animate-left {
      transform: translateX(-30%);
    }
  }
  
  
  
  
  
  







.table{
    text-align: center;
    h2{
        padding-top: 80px;
    }
}
table {
    border-collapse: collapse;
    margin: 80px auto; /* 表全体の上下余白を追加 */
    width: 70%; /* 横幅を70%に設定 */
    table-layout: fixed;
    border: 2px solid #eee;
    
}

table thead tr {
    background-color: #353535; /* ヘッダーの背景色 */
    color: #fff; /* ヘッダー文字色 */
}

table tr {
    background-color: #fff; /* 行の背景色 */
}

table tr:last-child {
    border: none; /* 最終行の余分なボーダーを削除 */
}

table th, table td {
    padding: 0.8em 0.2em; /* セル内の余白を増やしてゆったり配置 */
    border-right: 2px solid #eee; /* セル右側のボーダー */
    font-size: 1em; /* テキストサイズを微調整 */
    line-height: 2.0em; /* テキスト間隔を広げる */
}

table th {
    font-size: 1.2em; /* ヘッダーのフォントサイズを少し大きく */
    text-align: center; /* ヘッダーを中央揃え */
}

table tbody th {
    background-color: #f9f9f9; /* サイド列の背景色 */
    border-right: 2px solid #eee;
    text-align: center; /* 基本情報列を中央揃え */
}

table tbody td {
    text-align: left; /* その他の列を左揃え */
}

table .blue-BK {
    background: #0077B6; 
    color: #fff; /* 白文字 */
}

.price {
    color: #353535; /* 黒文字 */
    font-weight: bold;
    font-size: 1.2em; /* 価格部分のフォントサイズ */
    text-align: center;
}

.price span {
    font-size: 0.8em; /* 小さいテキストのサイズ */
}

.blue-txt {
    color: #0077B6; /* 赤文字 */
}
.blue-BK{
    background-color: #0077B6;
}

.border-row {
    border-bottom: 3px solid #50535d; /* 境界線の色と太さ */
}
table tbody td {
    text-align: left;
}
.Downloads{
    .FinishApp {
        background-image: url(../img/ダウンロード背景.png);
        background-size: cover;
        height: 600px;
        width: 100%;
        position: relative;
        p {
            font-size: 24px;
            color: #ffffff;
            text-align: center;
        }
        
        /* 画像の上に透明なオーバーレイを追加 */
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(53, 53, 53, 0.6); /* #353535 with 60% transparency */
            z-index: 1; /* 背景画像の上に表示 */
        }
    }
    
    h2{
        text-align: center;
        color: #ffffff;
        position: absolute;
        right: 0;
        left: 0;
        top:  30px;
        z-index: 2;
    }
    .app1{
        position: absolute;
        top: 20%;
        left: 30%;
        bottom: 0;
        z-index: 2;
        width: 15%;
        img{
            width: 100%;
        }
        .p1{
            padding-bottom: 20px;
        }
        .svg1{
            width: 95%;
        }
    }
    .googleApp{
        position: absolute;
        top: 20%;
        right: 30%;
        bottom: 0;
        z-index: 2;
        width: 17%;
        img{
            width: 88%;
        }
        .p2{
            padding-bottom: 20px;
            margin-right:40px ;
        }
        .svg2{
            position: absolute;
            right: 6%;
            top: 58%;
            padding-top: 30px;
            width: 100%;
        }
    }
}
.footer {
    position: relative;
    background-color: #D2D7DF;
    color: #333;
    text-align: center;

    .footer-middle {
        width: 60%;
        display: grid;
        gap: 5%;
        grid-template-areas: "grid1 grid2 grid3";
        padding: 40px 0;
        align-items: center;

        .grid1, .grid2, .grid3 {
            text-align: center;

            a {
                display: block;
                margin: 20px 0;
                color: #007bff;

                &:hover {
                    text-decoration: underline;
                }
            }

            button {
                background-color: #007bff;
                color: #fff;
                border: none;
                padding: 20px 40px;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 20px;
                border-radius: 40px;
                transition: background-color 0.3s ease, transform 0.3s ease; 
                &:hover {
                    background-color: #003d8a; 
                    transform: scale(1.1); 
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
                }
            }
        }

        .grid3 {
            img {
                width: 10%;
            }

            p {
                margin: 10px 0;
            }
        }
    }

    .footer-bottom {
        border-top: 1px solid #ccc;
        margin-top: 20px;
        padding-top: 20px;

        .address {
            margin-bottom: 10px;
        }

        .social-icons img {
            width: 30px;
            margin: 0 10px;
        }
    }

    .Copyright1 {
        background-color: #353535;
        color: #ffffff;
        padding: 1%;
        font-size: 12px;
    }
    
}
